<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pensamiento Algorítmico</title>
</head>
<body>
    <h1>Pensamiento Algorítmico</h1>
    <h2>Temas de Estudio</h2>
    <ul>
        {% for todo in Actividades %}
        <li>
            <span {%if todo[done] %} style="text-decoration: line-through" {%endif %}>{{ todo["task"] }}</span>
            <a href="{{ url_for('go', Menu=loop.index0, actividad=todo['task'],CourseName=CourseName) }}">⏩</a>
            <a href="{{ url_for('edit', Menu=loop.index0,actividad=todo['task'], CourseName=CourseName) }}">Edit</a>
            <a href="{{ url_for('delete', Menu=loop.index0,CourseName=CourseName) }}">Delete</a>
        </li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('add', CourseName=CourseName) }}" method="post">
        <input type="text" name="todo">
        <button type="submit">Añadir Tematica</button>
    </form>
    <div id="content">
        <div class="menu-item">
            <form action="/HomeMenuTeacher">
                <button type="submit">Actividades</button>
            </form>
        </div>
        <div class="menu-item">
            <form action="/RankingView">
                <button type="submit">Ranking</button>
            </form>
        </div>
        <div class="menu-item">
            <form action="/QualifyView">
                <button type="submit">Calificar</button>
            </form>
        </div>
        <div class="menu-item">
                <form action="/sign_off">
                    <button  class= "primary-button-right" type="submit">Cerrar Sesión</button>
                </form>
            </div>
    </div>

    <div class="exercise-form">
        <h1>Crear Ejercicio</h1>
        <form id="exercise-form" action="/CreateExercise" method="post">
            <label for="nameExercise">Nombre del Ejercicio:</label>
            <input type="text" name="nameExercise" id="nameExercise" required>

            <label for="availability">Disponibilidad:</label>
            <select name="availability" id="availability" required>
                <option value="True">Sí</option>
                <option value="False">No</option>
            </select>

            <label for="difficulty">Dificultad:</label>
            <select name="difficulty" id="difficulty" required>
                <option value="Muy Fácil">Muy Fácil</option>
                <option value="Fácil">Fácil</option>
                <option value="Moderado">Moderado</option>
                <option value="Difícil">Difícil</option>
                <option value="Muy Difícil">Muy Difícil</option>
            </select>

            <label for="statement">Descripción:</label>
            <input type="text" name="statement" id="statement" required>

            <input type="hidden" name="nameActivity" value="{{ nameActivity }}">
            <input type="hidden" name="CourseName" value="{{ CourseName }}">
            <button type="submit">Crear Ejercicio</button>
        </form>
    </div>
</body>
</html>

