<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pensamiento Algorítmico</title>

</head>
<body>

            <ul>
                <h2>Actividades </h2>
                <ul>
                            {% for todo in Actividades %}
                            <li> {{ todo['todo']        }}</li>
                            {% endfor %}
                </ul>
            </ul>


    <div id="content">
        <form class="" action="/HomeMenuTeacher">
                <button type="submit" class="">Actividades</button>
        </form>
        <form class="" action="/CreateExerciseView">
                <button type="submit" class="">Crear Ejercicio</button>
        </form>

        <form class="" action="/RankingView">
                <button type="submit" class="">Ranking</button>
        </form>

        <form class="" action="/QualifyView">
                <button type="submit" class="">Calificar</button>
        </form>
    </div>
</body>
</html>
