<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pensamiento Algorítmico</title>
    <style>

    </style>
</head>
<body>
    <h1>Pensamiento Algorítmico</h1>
    <div id="content">
        <div class="sidebar">
            <h2>Temas de Estudio</h2>
            <ul>
                {% for todo in Actividades %}
                <li>
                    <span {% if todo[done] %} style="text-decoration: line-through" {% endif %}>{{ todo["task"] }}</span>
                    <a href="{{ url_for('go', Menu=loop.index0, actividad=todo['task'],CourseName=CourseName) }}">⏩</a>
                    <a href="{{ url_for('edit', Menu=loop.index0,actividad=todo['task'], CourseName=CourseName) }}">Edit</a>
                    <a href="{{ url_for('delete', Menu=loop.index0,CourseName=CourseName) }}">Delete</a>
                </li>
                {% endfor %}
            </ul>
            <form action="{{ url_for('add',CourseName=CourseName) }}" method="post">
                <input type="text" name="todo">
                <button type="submit">Añadir Tematica</button>
            </form>
        </div>

        <div class="main-content">
            <div class="horizontal-menu">
                <div class="menu-item">
                    <form action="/HomeMenuTeacher">
                        <button type="submit">Actividades</button>
                    </form>
                </div>
                <div class="menu-item">
                    <form action="/RankingView">
                        <button type="submit">Ranking</button>
                    </form>
                </div>
                <div class="menu-item">
                    <form action="/QualifyView">
                        <button type="submit">Calificar</button>
                    </form>
                </div>
                <div class="menu-item">
                <form action="/sign_off">
                    <button  class= "primary-button-right" type="submit">Cerrar Sesión</button>
                </form>
            </div>
            </div>
            <div id="create-exercise">
                <form action="/CreateExerciseView" method="GET">
                    <input type="hidden" name="nameActivity" value="{{ nameActivity }}">
                    <input type="hidden" name="CourseName" value="{{ CourseName }}">
                    <button type="submit">Crear Ejercicio</button>
                </form>
            </div>
            <div>
                <h2>Ejercicios</h2>
                <div class="sidebar">
                        <ul>

                            {% for exercise_dict in Exercises %}
                            <li>
                                    <span><a href="{{ url_for('go', Menu=loop.index0, actividad=exercise_dict['task'][0], CourseName=CourseName) }}">{{ exercise_dict['task'][0] }}</a></span>

                            </li>
                            {% endfor %}
                        </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



