<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pensamiento Algorítmico</title>

</head>
<body>
    <div id="header">
        <h1>Pensamiento Algorítmico</h1>
    </div>

    <div id="left-menu">
        <div id="vertical-menu">
            <p>Temas:</p>
            <ul>
                <li><a href="#">Actividad 1</a></li>
                <li><a href="#">Actividad 2</a></li>
                <!-- Agrega más elementos si es necesario -->
            </ul>
        </div>
    </div>

    <div id="content">
        <form class="" action="/HomeMenuTeacher">
                <button type="submit" class="">Actividades</button>
        </form>
        <form class="" action="/CreateExerciseView">
                <button type="submit" class="">Crear Ejercicio</button>
        </form>

        <form class="" action="/RankingView">
                <button type="submit" class="">Ranking</button>
        </form>

        <form class="" action="/QualifyView">
                <button type="submit" class="">Calificar</button>
        </form>
    </div>
</body>
</html>
