<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1>Cursos</h1>
    <div id="content">
        <div class="sidebar">
            <ul>
                {% for course in Courses %}
                <li>
                    <span {% if course[done] %} style="text-decoration: line-through" {% endif %}>{{ course["task"] }}</span>
                    <a href="{{ url_for('goCourse', Menu=loop.index0,CourseName=course['task']) }}">⏩</a>
                    <a href="{{ url_for('editCourse', Menu=loop.index0) }}">Edit</a>
                    <a href="{{ url_for('deleteCourse', Menu=loop.index0) }}">Delete</a>
                </li>
                {% endfor %}
            </ul>
            <form action="{{ url_for('addCourse') }}" method="post">
                <input type="text" name="todo">
                <button type="submit">Agregar Curso</button>
            </form>
        </div>
    </div>

</body>
</html>