<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Python Hunters</h1>
    <div id="content">
        <div class="sidebar">
            <h2>Cursos</h2>
            <ul>
                {% for todo in Courses %}
                <li>
                    <span {% if todo[done] %} style="text-decoration: line-through" {% endif %}>{{ todo["task"] }}</span>

                </li>
                {% endfor %}
            </ul>
            <form action="{{ url_for('addCourse') }}" method="post">
                <input type="text" name="todo">
                <button type="submit">Add Todo</button>
            </form>
        </div>
    </div>

</body>
</html>